body{
  overflow-x: hidden;
}

.navbar{
  background-image: url("destination/violet.jpg");
    font-family: 'Oswald', sans-serif;
}

.navbar-nav{
   background: rgba( 255, 255, 255, 0 );
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 11.5px );
   border: 0.5px solid rgba( 255, 255, 255, 0.18 );
   width: 60%;
   height: 60px;
   padding-top: 0.5%;
  }
  
  .navbar-nav a{
    margin: 0 3%;
    color: #C9CCD5;
  }
  
  .navbar-nav a:hover{
    color: #6A5495;
  }

/* HOME STYLES */

.home-body{
    background-image: url("home/background-home-desktop.jpg");
    font-family: 'Oswald', sans-serif;
    padding: 8% 0 15%;
}

  .home-main{
    color: #889EAF;
    font-size: 1rem;
    margin-top: 5%;
    margin-left: 7%;
  }
  
  .home-space{
    color: #fff;
    font-size: 5.5rem;
    font-family: 'Playfair Display', serif;
  }
  
  /* .home-para{
    display: inline-block;
  } */
  .home-btn{
    border-radius: 48% 52% 48% 52% / 49% 49% 51% 51%;
    height: 180px;
    width: 13%;
    position: absolute;
    right: 10%;
    font-size: 2rem;
    top: 55%;
  
  }
  
  .home-btn a {
    text-decoration: none;
      color: #181D31;
  
  }

/* DESTINATION STYLES */

.destination-body{
  background-image: url("destination/background-destination-desktop.jpg");
  font-family: 'Oswald', sans-serif;
  padding: 1% 0 15%;
  color: #93B5C6;
}

  .destination-number{
    display: inline-block;
    color: #1E3163;
    padding-left: 7%;
  }
  .destination-heading{
    padding-left: 1%;
    color: #F3F0D7;
    display: inline-block;
  }
  
  .destination-btn a{
    font-size: 1.2rem;
    color: #93B5C6;
    text-decoration: none;
  }
  
  .destination-btn a:hover{
    text-decoration: underline;
  }
  
  .destination-img-column{
    padding-top: 5%;
    padding-left: 12%;
  }
  .destination-img{
  width: 70%;
  }
  
  .planet-description{
  font-family: 'Source Sans Pro', sans-serif;
  }
  
  .planet-name{
    color: #fff;
    font-size: 5.5rem;
    font-family: 'Playfair Display', serif;
  }
  
  
  .destination-hr{
    width: 70%
  }
  
/* CREW STYLES */

.crew-home{
    background-image: url("crew/background-crew-desktop.jpg");
    font-family: 'Oswald', sans-serif;
    color: #93B5C6;
    padding: 1% 0 15%;
}

  .crew-number{
    display: inline-block;
    color: #1E3163;
    padding-left: 7%;
  }
  .crew-heading{
    padding-left: 1%;
    color: #F3F0D7;
    display: inline-block;
  }
  
  .crew-img-column{
    padding-top: 1%;
    padding-right: 6%;
  }
  .crew-img{
  width: 80%;
  }
  
  .crew-content-column{
    padding-top: 8%;
    padding-left: 9%;
  }
  
  .crew-name{
    color: #fff;
  font-family: 'Playfair Display', serif;
  }
  
  .crew-occupation{
    color: #B2B1B9;
    font-family: 'Playfair Display', serif;
  }
  
  .crew-description{
  font-family: 'Source Sans Pro', sans-serif;
  }
  
  .crew-links{
    padding-top: 18%;
    padding-left: 2%;
  }
  .crew-links button {
    border-radius: 50%;
  }
  .crew-links a{
    margin: 2%;
    color: #595260;
  }
  


  /* TECHNOLOGY STYLES */

.technology-home{
    background-image: url("technology/background-technology-desktop.jpg");
    font-family: 'Oswald', sans-serif;
    color: #93B5C6;
    padding: 1% 0 15%;
}

  .technology-number{
    display: inline-block;
    color: #1E3163;
    padding-left: 7%;
  }
  .technology-heading{
    padding-left: 1%;
    color: #F3F0D7;
    display: inline-block;
  }
  
  .technology-btn{
    color: #fff;
    width: 45%;
    height: 55px;
    display: block;
    margin: 5%;
    border-radius: 50%;
    background: rgba( 24, 29, 49, 0 );
    border-color: #595260;
  }
  
  .technology-content-column{
    padding-top: 6%;
  }
  
  .technology-btn-row{
    position: relative;
    left: 6%;
  }

   .technology-a{
    color: #fff;
    text-decoration: none;
  }
  
   .technology-a:hover{
    color: black;
  }
  
  .technology-name{
    color: #fff;
  font-family: 'Playfair Display', serif;
  }
  
  .technology-description{
  font-family: 'Source Sans Pro', sans-serif;
  }
  
  /*  Phone */

  @media (max-width:1000px) { 
    body{
      width: 100%;
      height: 100%;
    }
    .navbar-nav{
      border: 0;
    }

    /* HOME */
    .home-body{
    background-image: url("home/planet.jpg");
    background-position:inherit;

    }

    .home-main{
      text-align: center;
      height: 100%;
      margin-right: 5%;
      margin-left: 5%;
      color: #B7CADB;
      font-size: 1.1rem;
    }
    .home-btn{
      position: relative;
      left: .01%;
      background-color: #fff;
      border-color: #fff;
      width: auto;
      height: 120px;
      margin-top: 2%;
      border-radius: 80%;
    }
    .home-btn a {
      text-decoration: none;
        color: #091353;
    }
    .home-btn a:active {
      text-decoration: none;
        color: #000;
    }
   /* TECHNOLOGY */
    .technology-home{
      background-image: url("technology/green.jpg");
      text-align: center;
      /* font-size: 1.4rem; */
    }
    .technology-number{
      padding-left: 0;
    }
    .technology-name{
      padding-bottom: 6%;
    }
    .technology-content-column{
      padding-right: 0;
    }
    .technology-content{
      padding-right: 0;
      margin-top: 4%;
    }
    .technology-btn-row{
      display: flex;
      padding-left: 18%;
    }
    .technology-btn{
      width: 3rem;
      margin: 0 0 25% 25%;
    }


    .technology-img{
      padding-top: 4%;
      width: 95%;

    }
   /* CREW */
    .crew-home{
      background-image: url("crew/lool.jpg");
      background-position: center;
    }
     /* DESTINATION */
    .destination-body{
      background-image: url("destination/violet.jpg");
      color:#B2B1B9;
    }
    .destination-img-column{
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
    .destination-content-column{
      text-align: center;
    }
    .destination-btn a{
      color: #6A5495;
    }
  }
 
  /* Tablet */
  
  /* @media (min-width: 481px) and (max-width: 770px) { */

    /* HOME */
    /* .home-body{
      background-image: url("home/background-home-tablet.jpg");
    }
    .home-main{
      text-align: center;
    }
    .home-btn{
      position: absolute;
      top: 90%;
      right: 40%;
      width: auto;
      height: 120px;
      margin-top: 2%;
      border-radius: 80%;
    } */


    /* TECHNOLOGY */
    /* .technology-home{
      background-image: url("technology/background-technology-tablet.jpg");
    }

    .technology-img{
      width: 85%;

    } */
    /* CREW */
    /* .crew-home{
      background-image: url("crew/background-crew-tablet.jpg");
    } */
    /* DESTINATION */
    /* .destination-body{
      background-image: url("destination/background-destination-tablet.jpg");
    } */
  /* } */